---
---
@charset "utf-8";

//Import the nice fonts we got
@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Poiret+One|Fjalla+One|Inconsolata:700,400);

$primary-color: #105B63;
$secondary-color: #e7e7e7;
$alert-color: #BD4932;
$success-color: #43AC6A;
$warning-color: #FFD34E;
$info-color: #a0d3e8;

//Header? -"Fjalla One"

$fun-white   : #F9F8F4;
$mustard     : #DB9E36;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$font-family-sans-serif: "Poiret One", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Slabo 27px", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: "Inconsolata", Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

//We use these to control various global styles
$body-bg: $fun-white;
$body-font-color: $jet;
$body-font-family: $font-family-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$header-font-family: "Fjalla One" , $font-family-serif;
$header-font-weight: $font-weight-normal;
$header-font-style: normal;
$header-font-color: $jet;

$topbar-bg-color: $alert-color;
$topbar-bg: $topbar-bg-color;

//
////Height and margin
//$topbar-height: rem-calc(48);
//$topbar-margin-bottom: 0;
//
////Controlling the styles for the title in the top bar
//$topbar-title-weight: $font-weight-normal;
//$topbar-title-font-size: rem-calc(17);
//
////Set the link colors and styles for top-level nav
//$topbar-link-color: $white;
//$topbar-link-color-hover: $white;
//$topbar-link-color-active: $white;
//$topbar-link-color-active-hover: $white;
//$topbar-link-weight: $font-weight-normal;
$topbar-link-font-size: rem-calc(16);
//$topbar-link-hover-lightness: -10%; // Darken by 10%
//$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: scale-color($topbar-bg-color, $lightness: -14%);;
$topbar-link-bg-color-hover: scale-color($topbar-bg-color, $lightness: -14%);
$topbar-link-bg-active: $oil;
$topbar-link-bg-active-hover: scale-color($oil, $lightness: -14%);
$topbar-link-font-family: $header-font-family;
//$topbar-link-text-transform: none;
//$topbar-link-padding: ($topbar-height / 3);
//$topbar-back-link-size: rem-calc(18);
//$topbar-link-dropdown-padding: rem-calc(20);
//$topbar-button-font-size: .75rem;
//$topbar-button-top: 7px;


// Import partials from `vendor`
@import 'foundation/scss/normalize.scss';
@import 'foundation/scss/foundation.scss';
@import 'foundation-icon-fonts/_foundation-icons.scss';

.top-bar .name h1 {
  font-size: 1.5rem; 
  font-family: $font-family-sans-serif;
}

.row .jumbotron {
  background-color: #105B63;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 10px 10px #444444;
  
  h1 a{
    font-size: rem-calc(68);
    color: $white;
  }
}

body {
  background-image: url("/SSUI-Web-2015/assets/images/background.png");
  background-repeat: repeat;
}

.text-box {
  background-color: white;
  border-radius: 3px;
  padding: 9px;
  box-shadow: 5px 5px #666666;
  margin-bottom: 10px;
  margin-top: 5px;
}
